@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto');

.event{
    max-width: 300px;
    margin: 25px;
}
.events {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}